body{
    text-align: center;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    

}
#header{
    padding-top:20px;
    min-height: 100px;
    max-height: 300px;
    min-width:300px ;
    max-width:1500px;
    background-color:rgb(196, 194, 76);

  }
  .dan-list-img{
    min-height:300px;
    min-width:100px;
    max-width: 300px;
    max-height: 400px;
    border:1px solid black;
    background-color: bisque;
    display: inline-block;
}